// Icons
// -------------------------

.icons8-eye:before,
.icons8-clock:before,
.icons8-paint-palette:before,
.icons8-ok:before,
.icons8-settings:before,
.icons8-compress:before,
.icons8-enlarge:before,
.icons8-menu-vertical:before,
.icons8-circled-up-right:before,
.icons8-circled-down-right:before,
.icons8-user:before,
.icons8-wall-mount-camera:before,
.icons8-notification:before,
.icons8-filter:before,
.icons8-fill-color:before,
.icons8-business-report:before,
.icons8-expand-arrow:before,
.icons8-collapse-arrow:before,
.icons8-sync-settings:before,
.icons8-combo-chart:before,
.icons8-template:before,
.icons8-folder:before,
.icons8-touchscreen:before,
.icons8-online-shop:before,
.icons8-self-service-kiosk:before,
.icons8-bookmark:before,
.icons8-home:before,
.icons8-search:before,
.icons8-file:before,
.icons8-xml-file:before,
.icons8-pdf:before,
.icons8-doc:before,
.icons8-document:before,
.icons8-pdf-2:before,
.icons8-back:before,
.icons8-forward:before,
.icons8-play:before,
.icons8-delete:before,
.icons8-trash:before,
.icons8-checkmark:before,
.icons8-save:before,
.icons8-download:before,
.icons8-more:before,
.icons8-flow-chart:before,
.icons8-upload:before,
.icons8-checked:before,
.icons8-account:before,
.icons8-left:before,
.icons8-edit:before,
.icons8-plus-math:before,
.icons8-spreadsheet-file:before,
.icons8-calendar:before,
.icons8-up-down-arrow:before,
.icons8-browse-page:before,
.icons8-loading:before,
.icons8-train-ticket:before,
.icons8-cloud-database:before,
.icons8-pause:before,
.icons8-master:before,
.icons8-slave:before,
.icons8-view-all:before,
.icons8-star:before,
.icons8-star-filled:before,
.icons8-minus:before,
.icons8-reflector-bulb:before,
.icons8-reboot:before,
.icons8-open-view:before,
.icons8-tv-off:before,
.icons8-tv:before,
.icons8-decline:before,
.icons8-decrease:before,
.icons8-increase:before,
.icons8-power-bi:before,
.icons8-copyright:before,
.icons8-add-new:before,
.icons8-add:before,
.icons8-pulse:before,
.icons8-tick-box:before,
.icons8-columns:before,
.icons8-bar-chart:before,
.icons8-java:before,
.icons8-globe:before,
.icons8-menu:before,
.icons8-rectangular:before,
.icons8-circle:before,
.icons8-filled-circle:before,
.icons8-circled-thin:before,
.icons8-microchip:before,
.icons8-genealogy:before,
.icons8-final-state:before,
.icons8-computer:before,
.icons8-node-js:before,
.icons8-php-logo:before,
.icons8-python:before,
.icons8-shuffle:before,
.icons8-indeterminate-checkbox:before,
.icons8-database:before,
.icons8-database-export:before,
.icons8-download-2:before,
.icons8-upload-2:before,
.icons8-bar-chart-2:before,
.icons8-user-shield:before,
.icons8-search-property:before,
.icons8-delete-trash:before,
.icons8-copy:before,
.icons8-synchronize:before,
.icons8-lock:before,
.icons8-help:before,
.icons8-check-all:before,
.icons8-compare:before,
.icons8-tune:before,
.icons8-bar-chart-3:before,
.icons8-futures:before,
.icons8-user-shield-2:before,
.icons8-line-chart:before,
.icons8-area-chart:before,
.icons8-time-machine:before,
.icons8-html-5:before,
.icons8-table:before,
.icons8-word:before,
.icons8-shopping-cart:before,
.icons8-opened-folder:before,
.icons8-memories:before,
.icons8-ssd:before,
.icons8-installing-updates:before,
.icons8-cursor:before,
.icons8-maintenance:before,
.icons8-archive-folder:before,
.icons8-information:before,
.icons8-shutdown:before,
.icons8-new-resume-template:before,
.icons8-save-as:before,
.icons8-minus-sign:before,
.icons8-up:before,
.icons8-down:before,
.icons8-right:before,
.icons8-error:before,
.icons8-sand-clock:before,
.icons8-alarm-clock:before,
.icons8-picture:before,
.icons8-important-file:before,
.icons8-order-history:before,
.icons8-spinner:before,
.icons8-resize:before,
.icons8-edit-2:before,
.icons8-zoom-in-2x:before,
.icons8-zoom-out-2x:before,
.icons8-zoom-in:before,
.icons8-zoom-out:before,
.icons8-mark-as-favorite:before,
.icons8-add-to-favorites:before,
.icons8-heart:before,
.icons8-info:before,
.icons8-circled-right:before,
.icons8-back-arrow:before,
.icons8-import:before,
.icons8-export:before,
.icons8-laptop-metrics:before,
.icons8-statistics:before,
.icons8-dashboard:before,
.icons8-tree-structure:before,
.icons8-resume-website:before,
.icons8-project:before,
.icons8-nfc-square-tag:before,
.icons8-no-edit:before,
.icons8-reduce:before,
.icons8-top-menu:before,
.icons8-unavailable:before,
.icons8-server:before,
.icons8-circled-play:before,
.icons8-sms:before,
.icons8-exclamation-mark:before,
.icons8-suitcase:before,
.icons8-sugar-cube:before,
.icons8-rewind:before,
.icons8-rewind-button-round:before,
.icons8-fast-forward-round:before,
.icons8-fast-forward:before,
.icons8-incoming-call:before,
.icons8-android:before,
.icons8-north-direction:before,
.icons8-view:before,
.icons8-natural-user-interface-2:before,
.icons8-email-send:before,
.icons8-expand:before,
.icons8-source-code:before,
.icons8-india:before,
.icons8-chrome:before,
.icons8-send-email:before,
.icons8-sms-2:before,
.icons8-kiss-panda:before,
.icons8-slack-new:before,
.icons8-microsoft-teams:before,
.icons8-microsoft-kaizala:before,
.icons8-send-mail:before,
.icons8-root-server:before,
.icons8-command:before,
.icons8-compost-heap:before,
.icons8-java-2:before,
.icons8-run-command:before,
.icons8-material-filled:before,
.icons8-fast-forward-2:before,
.icons8-rewind-2:before,
.icons8-share:before,
.icons8-speaker:before,
.icons8-mute:before,
.icons8-target:before,
.icons8-skip-to-start:before,
.icons8-end:before,
.icons8-signal:before,
.icons8-electrical:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8-eye:before {content: $icons8-var-eye;}
.icons8-clock:before {content: $icons8-var-clock;}
.icons8-paint-palette:before {content: $icons8-var-paint-palette;}
.icons8-ok:before {content: $icons8-var-ok;}
.icons8-settings:before {content: $icons8-var-settings;}
.icons8-compress:before {content: $icons8-var-compress;}
.icons8-enlarge:before {content: $icons8-var-enlarge;}
.icons8-menu-vertical:before {content: $icons8-var-menu-vertical;}
.icons8-circled-up-right:before {content: $icons8-var-circled-up-right;}
.icons8-circled-down-right:before {content: $icons8-var-circled-down-right;}
.icons8-user:before {content: $icons8-var-user;}
.icons8-wall-mount-camera:before {content: $icons8-var-wall-mount-camera;}
.icons8-notification:before {content: $icons8-var-notification;}
.icons8-filter:before {content: $icons8-var-filter;}
.icons8-fill-color:before {content: $icons8-var-fill-color;}
.icons8-business-report:before {content: $icons8-var-business-report;}
.icons8-expand-arrow:before {content: $icons8-var-expand-arrow;}
.icons8-collapse-arrow:before {content: $icons8-var-collapse-arrow;}
.icons8-sync-settings:before {content: $icons8-var-sync-settings;}
.icons8-combo-chart:before {content: $icons8-var-combo-chart;}
.icons8-template:before {content: $icons8-var-template;}
.icons8-folder:before {content: $icons8-var-folder;}
.icons8-touchscreen:before {content: $icons8-var-touchscreen;}
.icons8-online-shop:before {content: $icons8-var-online-shop;}
.icons8-self-service-kiosk:before {content: $icons8-var-self-service-kiosk;}
.icons8-bookmark:before {content: $icons8-var-bookmark;}
.icons8-home:before {content: $icons8-var-home;}
.icons8-search:before {content: $icons8-var-search;}
.icons8-file:before {content: $icons8-var-file;}
.icons8-xml-file:before {content: $icons8-var-xml-file;}
.icons8-pdf:before {content: $icons8-var-pdf;}
.icons8-doc:before {content: $icons8-var-doc;}
.icons8-document:before {content: $icons8-var-document;}
.icons8-pdf-2:before {content: $icons8-var-pdf-2;}
.icons8-back:before {content: $icons8-var-back;}
.icons8-forward:before {content: $icons8-var-forward;}
.icons8-play:before {content: $icons8-var-play;}
.icons8-delete:before {content: $icons8-var-delete;}
.icons8-trash:before {content: $icons8-var-trash;}
.icons8-checkmark:before {content: $icons8-var-checkmark;}
.icons8-save:before {content: $icons8-var-save;}
.icons8-download:before {content: $icons8-var-download;}
.icons8-more:before {content: $icons8-var-more;}
.icons8-flow-chart:before {content: $icons8-var-flow-chart;}
.icons8-upload:before {content: $icons8-var-upload;}
.icons8-checked:before {content: $icons8-var-checked;}
.icons8-account:before {content: $icons8-var-account;}
.icons8-left:before {content: $icons8-var-left;}
.icons8-edit:before {content: $icons8-var-edit;}
.icons8-plus-math:before {content: $icons8-var-plus-math;}
.icons8-spreadsheet-file:before {content: $icons8-var-spreadsheet-file;}
.icons8-calendar:before {content: $icons8-var-calendar;}
.icons8-up-down-arrow:before {content: $icons8-var-up-down-arrow;}
.icons8-browse-page:before {content: $icons8-var-browse-page;}
.icons8-loading:before {content: $icons8-var-loading;}
.icons8-train-ticket:before {content: $icons8-var-train-ticket;}
.icons8-cloud-database:before {content: $icons8-var-cloud-database;}
.icons8-pause:before {content: $icons8-var-pause;}
.icons8-master:before {content: $icons8-var-master;}
.icons8-slave:before {content: $icons8-var-slave;}
.icons8-view-all:before {content: $icons8-var-view-all;}
.icons8-star:before {content: $icons8-var-star;}
.icons8-star-filled:before {content: $icons8-var-star-filled;}
.icons8-minus:before {content: $icons8-var-minus;}
.icons8-reflector-bulb:before {content: $icons8-var-reflector-bulb;}
.icons8-reboot:before {content: $icons8-var-reboot;}
.icons8-open-view:before {content: $icons8-var-open-view;}
.icons8-tv-off:before {content: $icons8-var-tv-off;}
.icons8-tv:before {content: $icons8-var-tv;}
.icons8-decline:before {content: $icons8-var-decline;}
.icons8-decrease:before {content: $icons8-var-decrease;}
.icons8-increase:before {content: $icons8-var-increase;}
.icons8-power-bi:before {content: $icons8-var-power-bi;}
.icons8-copyright:before {content: $icons8-var-copyright;}
.icons8-add-new:before {content: $icons8-var-add-new;}
.icons8-add:before {content: $icons8-var-add;}
.icons8-pulse:before {content: $icons8-var-pulse;}
.icons8-tick-box:before {content: $icons8-var-tick-box;}
.icons8-columns:before {content: $icons8-var-columns;}
.icons8-bar-chart:before {content: $icons8-var-bar-chart;}
.icons8-java:before {content: $icons8-var-java;}
.icons8-globe:before {content: $icons8-var-globe;}
.icons8-menu:before {content: $icons8-var-menu;}
.icons8-rectangular:before {content: $icons8-var-rectangular;}
.icons8-circle:before {content: $icons8-var-circle;}
.icons8-filled-circle:before {content: $icons8-var-filled-circle;}
.icons8-circled-thin:before {content: $icons8-var-circled-thin;}
.icons8-microchip:before {content: $icons8-var-microchip;}
.icons8-genealogy:before {content: $icons8-var-genealogy;}
.icons8-final-state:before {content: $icons8-var-final-state;}
.icons8-computer:before {content: $icons8-var-computer;}
.icons8-node-js:before {content: $icons8-var-node-js;}
.icons8-php-logo:before {content: $icons8-var-php-logo;}
.icons8-python:before {content: $icons8-var-python;}
.icons8-shuffle:before {content: $icons8-var-shuffle;}
.icons8-indeterminate-checkbox:before {content: $icons8-var-indeterminate-checkbox;}
.icons8-database:before {content: $icons8-var-database;}
.icons8-database-export:before {content: $icons8-var-database-export;}
.icons8-download-2:before {content: $icons8-var-download-2;}
.icons8-upload-2:before {content: $icons8-var-upload-2;}
.icons8-bar-chart-2:before {content: $icons8-var-bar-chart-2;}
.icons8-user-shield:before {content: $icons8-var-user-shield;}
.icons8-search-property:before {content: $icons8-var-search-property;}
.icons8-delete-trash:before {content: $icons8-var-delete-trash;}
.icons8-copy:before {content: $icons8-var-copy;}
.icons8-synchronize:before {content: $icons8-var-synchronize;}
.icons8-lock:before {content: $icons8-var-lock;}
.icons8-help:before {content: $icons8-var-help;}
.icons8-check-all:before {content: $icons8-var-check-all;}
.icons8-compare:before {content: $icons8-var-compare;}
.icons8-tune:before {content: $icons8-var-tune;}
.icons8-bar-chart-3:before {content: $icons8-var-bar-chart-3;}
.icons8-futures:before {content: $icons8-var-futures;}
.icons8-user-shield-2:before {content: $icons8-var-user-shield-2;}
.icons8-line-chart:before {content: $icons8-var-line-chart;}
.icons8-area-chart:before {content: $icons8-var-area-chart;}
.icons8-time-machine:before {content: $icons8-var-time-machine;}
.icons8-html-5:before {content: $icons8-var-html-5;}
.icons8-table:before {content: $icons8-var-table;}
.icons8-word:before {content: $icons8-var-word;}
.icons8-shopping-cart:before {content: $icons8-var-shopping-cart;}
.icons8-opened-folder:before {content: $icons8-var-opened-folder;}
.icons8-memories:before {content: $icons8-var-memories;}
.icons8-ssd:before {content: $icons8-var-ssd;}
.icons8-installing-updates:before {content: $icons8-var-installing-updates;}
.icons8-cursor:before {content: $icons8-var-cursor;}
.icons8-maintenance:before {content: $icons8-var-maintenance;}
.icons8-archive-folder:before {content: $icons8-var-archive-folder;}
.icons8-information:before {content: $icons8-var-information;}
.icons8-shutdown:before {content: $icons8-var-shutdown;}
.icons8-new-resume-template:before {content: $icons8-var-new-resume-template;}
.icons8-save-as:before {content: $icons8-var-save-as;}
.icons8-minus-sign:before {content: $icons8-var-minus-sign;}
.icons8-up:before {content: $icons8-var-up;}
.icons8-down:before {content: $icons8-var-down;}
.icons8-right:before {content: $icons8-var-right;}
.icons8-error:before {content: $icons8-var-error;}
.icons8-sand-clock:before {content: $icons8-var-sand-clock;}
.icons8-alarm-clock:before {content: $icons8-var-alarm-clock;}
.icons8-picture:before {content: $icons8-var-picture;}
.icons8-important-file:before {content: $icons8-var-important-file;}
.icons8-order-history:before {content: $icons8-var-order-history;}
.icons8-spinner:before {content: $icons8-var-spinner;}
.icons8-resize:before {content: $icons8-var-resize;}
.icons8-edit-2:before {content: $icons8-var-edit-2;}
.icons8-zoom-in-2x:before {content: $icons8-var-zoom-in-2x;}
.icons8-zoom-out-2x:before {content: $icons8-var-zoom-out-2x;}
.icons8-zoom-in:before {content: $icons8-var-zoom-in;}
.icons8-zoom-out:before {content: $icons8-var-zoom-out;}
.icons8-mark-as-favorite:before {content: $icons8-var-mark-as-favorite;}
.icons8-add-to-favorites:before {content: $icons8-var-add-to-favorites;}
.icons8-heart:before {content: $icons8-var-heart;}
.icons8-info:before {content: $icons8-var-info;}
.icons8-circled-right:before {content: $icons8-var-circled-right;}
.icons8-back-arrow:before {content: $icons8-var-back-arrow;}
.icons8-import:before {content: $icons8-var-import;}
.icons8-export:before {content: $icons8-var-export;}
.icons8-laptop-metrics:before {content: $icons8-var-laptop-metrics;}
.icons8-statistics:before {content: $icons8-var-statistics;}
.icons8-dashboard:before {content: $icons8-var-dashboard;}
.icons8-tree-structure:before {content: $icons8-var-tree-structure;}
.icons8-resume-website:before {content: $icons8-var-resume-website;}
.icons8-project:before {content: $icons8-var-project;}
.icons8-nfc-square-tag:before {content: $icons8-var-nfc-square-tag;}
.icons8-no-edit:before {content: $icons8-var-no-edit;}
.icons8-reduce:before {content: $icons8-var-reduce;}
.icons8-top-menu:before {content: $icons8-var-top-menu;}
.icons8-unavailable:before {content: $icons8-var-unavailable;}
.icons8-server:before {content: $icons8-var-server;}
.icons8-circled-play:before {content: $icons8-var-circled-play;}
.icons8-sms:before {content: $icons8-var-sms;}
.icons8-exclamation-mark:before {content: $icons8-var-exclamation-mark;}
.icons8-suitcase:before {content: $icons8-var-suitcase;}
.icons8-sugar-cube:before {content: $icons8-var-sugar-cube;}
.icons8-rewind:before {content: $icons8-var-rewind;}
.icons8-rewind-button-round:before {content: $icons8-var-rewind-button-round;}
.icons8-fast-forward-round:before {content: $icons8-var-fast-forward-round;}
.icons8-fast-forward:before {content: $icons8-var-fast-forward;}
.icons8-incoming-call:before {content: $icons8-var-incoming-call;}
.icons8-android:before {content: $icons8-var-android;}
.icons8-north-direction:before {content: $icons8-var-north-direction;}
.icons8-view:before {content: $icons8-var-view;}
.icons8-natural-user-interface-2:before {content: $icons8-var-natural-user-interface-2;}
.icons8-email-send:before {content: $icons8-var-email-send;}
.icons8-expand:before {content: $icons8-var-expand;}
.icons8-source-code:before {content: $icons8-var-source-code;}
.icons8-india:before {content: $icons8-var-india;}
.icons8-chrome:before {content: $icons8-var-chrome;}
.icons8-send-email:before {content: $icons8-var-send-email;}
.icons8-sms-2:before {content: $icons8-var-sms-2;}
.icons8-kiss-panda:before {content: $icons8-var-kiss-panda;}
.icons8-slack-new:before {content: $icons8-var-slack-new;}
.icons8-microsoft-teams:before {content: $icons8-var-microsoft-teams;}
.icons8-microsoft-kaizala:before {content: $icons8-var-microsoft-kaizala;}
.icons8-send-mail:before {content: $icons8-var-send-mail;}
.icons8-root-server:before {content: $icons8-var-root-server;}
.icons8-command:before {content: $icons8-var-command;}
.icons8-compost-heap:before {content: $icons8-var-compost-heap;}
.icons8-java-2:before {content: $icons8-var-java-2;}
.icons8-run-command:before {content: $icons8-var-run-command;}
.icons8-material-filled:before {content: $icons8-var-material-filled;}
.icons8-fast-forward-2:before {content: $icons8-var-fast-forward-2;}
.icons8-rewind-2:before {content: $icons8-var-rewind-2;}
.icons8-share:before {content: $icons8-var-share;}
.icons8-speaker:before {content: $icons8-var-speaker;}
.icons8-mute:before {content: $icons8-var-mute;}
.icons8-target:before {content: $icons8-var-target;}
.icons8-skip-to-start:before {content: $icons8-var-skip-to-start;}
.icons8-end:before {content: $icons8-var-end;}
.icons8-signal:before {content: $icons8-var-signal;}
.icons8-electrical:before {content: $icons8-var-electrical;}
