// Font paths
// -------------------------

@font-face {
  font-family: "Cavisson";
  src: url("../fonts/Cavisson.eot");
  src: url("../fonts/Cavisson.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Cavisson.woff2") format("woff2"),
  url("../fonts/Cavisson.woff") format("woff"),
  url("../fonts/Cavisson.ttf") format("truetype"),
  url("../fonts/Cavisson.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Cavisson";
    src: url("../fonts/Cavisson.svg#Cavisson") format("svg");
  }
}
