// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "Cavisson";
$icons8-font-path: "../fonts";

$icons8-var-eye: "\f104";
$icons8-var-clock: "\f105";
$icons8-var-paint-palette: "\f106";
$icons8-var-ok: "\f107";
$icons8-var-settings: "\f108";
$icons8-var-compress: "\f109";
$icons8-var-enlarge: "\f10a";
$icons8-var-menu-vertical: "\f10b";
$icons8-var-circled-up-right: "\f10c";
$icons8-var-circled-down-right: "\f10d";
$icons8-var-user: "\f10e";
$icons8-var-wall-mount-camera: "\f10f";
$icons8-var-notification: "\f110";
$icons8-var-filter: "\f111";
$icons8-var-fill-color: "\f112";
$icons8-var-business-report: "\f113";
$icons8-var-expand-arrow: "\f114";
$icons8-var-collapse-arrow: "\f115";
$icons8-var-sync-settings: "\f116";
$icons8-var-combo-chart: "\f117";
$icons8-var-template: "\f118";
$icons8-var-folder: "\f119";
$icons8-var-touchscreen: "\f11a";
$icons8-var-online-shop: "\f11b";
$icons8-var-self-service-kiosk: "\f11c";
$icons8-var-bookmark: "\f11d";
$icons8-var-home: "\f11e";
$icons8-var-search: "\f11f";
$icons8-var-file: "\f120";
$icons8-var-xml-file: "\f121";
$icons8-var-pdf: "\f122";
$icons8-var-doc: "\f123";
$icons8-var-document: "\f124";
$icons8-var-pdf-2: "\f125";
$icons8-var-back: "\f126";
$icons8-var-forward: "\f127";
$icons8-var-play: "\f128";
$icons8-var-delete: "\f129";
$icons8-var-trash: "\f12a";
$icons8-var-checkmark: "\f12b";
$icons8-var-save: "\f12c";
$icons8-var-download: "\f12d";
$icons8-var-more: "\f12e";
$icons8-var-flow-chart: "\f12f";
$icons8-var-upload: "\f130";
$icons8-var-checked: "\f132";
$icons8-var-account: "\f133";
$icons8-var-left: "\f134";
$icons8-var-edit: "\f135";
$icons8-var-plus-math: "\f136";
$icons8-var-spreadsheet-file: "\f137";
$icons8-var-calendar: "\f138";
$icons8-var-up-down-arrow: "\f139";
$icons8-var-browse-page: "\f13a";
$icons8-var-loading: "\f13b";
$icons8-var-train-ticket: "\f13c";
$icons8-var-cloud-database: "\f13d";
$icons8-var-pause: "\f13e";
$icons8-var-master: "\f13f";
$icons8-var-slave: "\f140";
$icons8-var-view-all: "\f141";
$icons8-var-star: "\f142";
$icons8-var-star-filled: "\f143";
$icons8-var-minus: "\f144";
$icons8-var-reflector-bulb: "\f145";
$icons8-var-reboot: "\f146";
$icons8-var-open-view: "\f147";
$icons8-var-tv-off: "\f148";
$icons8-var-tv: "\f149";
$icons8-var-decline: "\f14a";
$icons8-var-decrease: "\f14b";
$icons8-var-increase: "\f14c";
$icons8-var-power-bi: "\f14d";
$icons8-var-copyright: "\f14e";
$icons8-var-add-new: "\f14f";
$icons8-var-add: "\f150";
$icons8-var-pulse: "\f151";
$icons8-var-tick-box: "\f152";
$icons8-var-columns: "\f153";
$icons8-var-bar-chart: "\f154";
$icons8-var-java: "\f155";
$icons8-var-globe: "\f156";
$icons8-var-menu: "\f157";
$icons8-var-rectangular: "\f159";
$icons8-var-circle: "\f15a";
$icons8-var-filled-circle: "\f15b";
$icons8-var-circled-thin: "\f15c";
$icons8-var-microchip: "\f15d";
$icons8-var-genealogy: "\f15f";
$icons8-var-final-state: "\f161";
$icons8-var-computer: "\f162";
$icons8-var-node-js: "\f163";
$icons8-var-php-logo: "\f164";
$icons8-var-python: "\f165";
$icons8-var-shuffle: "\f166";
$icons8-var-indeterminate-checkbox: "\f167";
$icons8-var-database: "\f168";
$icons8-var-database-export: "\f169";
$icons8-var-download-2: "\f16a";
$icons8-var-upload-2: "\f16b";
$icons8-var-bar-chart-2: "\f16d";
$icons8-var-user-shield: "\f16e";
$icons8-var-search-property: "\f170";
$icons8-var-delete-trash: "\f171";
$icons8-var-copy: "\f172";
$icons8-var-synchronize: "\f173";
$icons8-var-lock: "\f176";
$icons8-var-help: "\f177";
$icons8-var-check-all: "\f178";
$icons8-var-compare: "\f179";
$icons8-var-tune: "\f17a";
$icons8-var-bar-chart-3: "\f17b";
$icons8-var-futures: "\f17c";
$icons8-var-user-shield-2: "\f17d";
$icons8-var-line-chart: "\f17e";
$icons8-var-area-chart: "\f17f";
$icons8-var-time-machine: "\f180";
$icons8-var-html-5: "\f182";
$icons8-var-table: "\f183";
$icons8-var-word: "\f184";
$icons8-var-shopping-cart: "\f185";
$icons8-var-opened-folder: "\f186";
$icons8-var-memories: "\f187";
$icons8-var-ssd: "\f188";
$icons8-var-installing-updates: "\f189";
$icons8-var-cursor: "\f18a";
$icons8-var-maintenance: "\f18b";
$icons8-var-archive-folder: "\f18c";
$icons8-var-information: "\f18d";
$icons8-var-shutdown: "\f18e";
$icons8-var-new-resume-template: "\f18f";
$icons8-var-save-as: "\f190";
$icons8-var-minus-sign: "\f191";
$icons8-var-up: "\f192";
$icons8-var-down: "\f193";
$icons8-var-right: "\f194";
$icons8-var-error: "\f195";
$icons8-var-sand-clock: "\f196";
$icons8-var-alarm-clock: "\f197";
$icons8-var-picture: "\f198";
$icons8-var-important-file: "\f199";
$icons8-var-order-history: "\f19a";
$icons8-var-spinner: "\f19b";
$icons8-var-resize: "\f19c";
$icons8-var-edit-2: "\f19d";
$icons8-var-zoom-in-2x: "\f1a0";
$icons8-var-zoom-out-2x: "\f1a1";
$icons8-var-zoom-in: "\f1a2";
$icons8-var-zoom-out: "\f1a3";
$icons8-var-mark-as-favorite: "\f1a4";
$icons8-var-add-to-favorites: "\f1a5";
$icons8-var-heart: "\f1a6";
$icons8-var-info: "\f1a7";
$icons8-var-circled-right: "\f1a9";
$icons8-var-back-arrow: "\f1ab";
$icons8-var-import: "\f1ac";
$icons8-var-export: "\f1ae";
$icons8-var-laptop-metrics: "\f1af";
$icons8-var-statistics: "\f1b0";
$icons8-var-dashboard: "\f1b1";
$icons8-var-tree-structure: "\f1b2";
$icons8-var-resume-website: "\f1b3";
$icons8-var-project: "\f1b4";
$icons8-var-nfc-square-tag: "\f1b6";
$icons8-var-no-edit: "\f1b7";
$icons8-var-reduce: "\f1b8";
$icons8-var-top-menu: "\f1b9";
$icons8-var-unavailable: "\f1ba";
$icons8-var-server: "\f1bb";
$icons8-var-circled-play: "\f1bc";
$icons8-var-sms: "\f1bd";
$icons8-var-exclamation-mark: "\f1be";
$icons8-var-suitcase: "\f1bf";
$icons8-var-sugar-cube: "\f1c0";
$icons8-var-rewind: "\f1c1";
$icons8-var-rewind-button-round: "\f1c2";
$icons8-var-fast-forward-round: "\f1c4";
$icons8-var-fast-forward: "\f1c5";
$icons8-var-incoming-call: "\f1c6";
$icons8-var-android: "\f1c7";
$icons8-var-north-direction: "\f1c8";
$icons8-var-view: "\f1c9";
$icons8-var-natural-user-interface-2: "\f1ca";
$icons8-var-email-send: "\f1cb";
$icons8-var-expand: "\f1cc";
$icons8-var-source-code: "\f1cd";
$icons8-var-india: "\f1ce";
$icons8-var-chrome: "\f1cf";
$icons8-var-send-email: "\f1d0";
$icons8-var-sms-2: "\f1d1";
$icons8-var-kiss-panda: "\f1d2";
$icons8-var-slack-new: "\f1d3";
$icons8-var-microsoft-teams: "\f1d4";
$icons8-var-microsoft-kaizala: "\f1d5";
$icons8-var-send-mail: "\f1d6";
$icons8-var-root-server: "\f1d7";
$icons8-var-command: "\f1d8";
$icons8-var-compost-heap: "\f1d9";
$icons8-var-java-2: "\f1da";
$icons8-var-run-command: "\f1db";
$icons8-var-material-filled: "\f1dc";
$icons8-var-fast-forward-2: "\f1dd";
$icons8-var-rewind-2: "\f1de";
$icons8-var-share: "\f1df";
$icons8-var-speaker: "\f1e0";
$icons8-var-mute: "\f1e1";
$icons8-var-target: "\f1e2";
$icons8-var-skip-to-start: "\f1e3";
$icons8-var-end: "\f1e4";
$icons8-var-signal: "\f1e5";
$icons8-var-electrical: "\f1e6";
