/*!
 * Icon Font Cavisson
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "Cavisson";
  src: url("../fonts/Cavisson.eot");
  src: url("../fonts/Cavisson.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Cavisson.woff2") format("woff2"),
  url("../fonts/Cavisson.woff") format("woff"),
  url("../fonts/Cavisson.ttf") format("truetype"),
  url("../fonts/Cavisson.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Cavisson";
    src: url("../fonts/Cavisson.svg#Cavisson") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8-eye:before,
.icons8-clock:before,
.icons8-paint-palette:before,
.icons8-ok:before,
.icons8-settings:before,
.icons8-compress:before,
.icons8-enlarge:before,
.icons8-menu-vertical:before,
.icons8-circled-up-right:before,
.icons8-circled-down-right:before,
.icons8-user:before,
.icons8-wall-mount-camera:before,
.icons8-notification:before,
.icons8-filter:before,
.icons8-fill-color:before,
.icons8-business-report:before,
.icons8-expand-arrow:before,
.icons8-collapse-arrow:before,
.icons8-sync-settings:before,
.icons8-combo-chart:before,
.icons8-template:before,
.icons8-folder:before,
.icons8-touchscreen:before,
.icons8-online-shop:before,
.icons8-self-service-kiosk:before,
.icons8-bookmark:before,
.icons8-home:before,
.icons8-search:before,
.icons8-file:before,
.icons8-xml-file:before,
.icons8-pdf:before,
.icons8-doc:before,
.icons8-document:before,
.icons8-pdf-2:before,
.icons8-back:before,
.icons8-forward:before,
.icons8-play:before,
.icons8-delete:before,
.icons8-trash:before,
.icons8-checkmark:before,
.icons8-save:before,
.icons8-download:before,
.icons8-more:before,
.icons8-flow-chart:before,
.icons8-upload:before,
.icons8-checked:before,
.icons8-account:before,
.icons8-left:before,
.icons8-edit:before,
.icons8-plus-math:before,
.icons8-spreadsheet-file:before,
.icons8-calendar:before,
.icons8-up-down-arrow:before,
.icons8-browse-page:before,
.icons8-loading:before,
.icons8-train-ticket:before,
.icons8-cloud-database:before,
.icons8-pause:before,
.icons8-master:before,
.icons8-slave:before,
.icons8-view-all:before,
.icons8-star:before,
.icons8-star-filled:before,
.icons8-minus:before,
.icons8-reflector-bulb:before,
.icons8-reboot:before,
.icons8-open-view:before,
.icons8-tv-off:before,
.icons8-tv:before,
.icons8-decline:before,
.icons8-decrease:before,
.icons8-increase:before,
.icons8-power-bi:before,
.icons8-copyright:before,
.icons8-add-new:before,
.icons8-add:before,
.icons8-pulse:before,
.icons8-tick-box:before,
.icons8-columns:before,
.icons8-bar-chart:before,
.icons8-java:before,
.icons8-globe:before,
.icons8-menu:before,
.icons8-rectangular:before,
.icons8-circle:before,
.icons8-filled-circle:before,
.icons8-circled-thin:before,
.icons8-microchip:before,
.icons8-genealogy:before,
.icons8-final-state:before,
.icons8-computer:before,
.icons8-node-js:before,
.icons8-php-logo:before,
.icons8-python:before,
.icons8-shuffle:before,
.icons8-indeterminate-checkbox:before,
.icons8-database:before,
.icons8-database-export:before,
.icons8-download-2:before,
.icons8-upload-2:before,
.icons8-bar-chart-2:before,
.icons8-user-shield:before,
.icons8-search-property:before,
.icons8-delete-trash:before,
.icons8-copy:before,
.icons8-synchronize:before,
.icons8-lock:before,
.icons8-help:before,
.icons8-check-all:before,
.icons8-compare:before,
.icons8-tune:before,
.icons8-bar-chart-3:before,
.icons8-futures:before,
.icons8-user-shield-2:before,
.icons8-line-chart:before,
.icons8-area-chart:before,
.icons8-time-machine:before,
.icons8-html-5:before,
.icons8-table:before,
.icons8-word:before,
.icons8-shopping-cart:before,
.icons8-opened-folder:before,
.icons8-memories:before,
.icons8-ssd:before,
.icons8-installing-updates:before,
.icons8-cursor:before,
.icons8-maintenance:before,
.icons8-archive-folder:before,
.icons8-information:before,
.icons8-shutdown:before,
.icons8-new-resume-template:before,
.icons8-save-as:before,
.icons8-minus-sign:before,
.icons8-up:before,
.icons8-down:before,
.icons8-right:before,
.icons8-error:before,
.icons8-sand-clock:before,
.icons8-alarm-clock:before,
.icons8-picture:before,
.icons8-important-file:before,
.icons8-order-history:before,
.icons8-spinner:before,
.icons8-resize:before,
.icons8-edit-2:before,
.icons8-zoom-in-2x:before,
.icons8-zoom-out-2x:before,
.icons8-zoom-in:before,
.icons8-zoom-out:before,
.icons8-mark-as-favorite:before,
.icons8-add-to-favorites:before,
.icons8-heart:before,
.icons8-info:before,
.icons8-circled-right:before,
.icons8-back-arrow:before,
.icons8-import:before,
.icons8-export:before,
.icons8-laptop-metrics:before,
.icons8-statistics:before,
.icons8-dashboard:before,
.icons8-tree-structure:before,
.icons8-resume-website:before,
.icons8-project:before,
.icons8-nfc-square-tag:before,
.icons8-no-edit:before,
.icons8-reduce:before,
.icons8-top-menu:before,
.icons8-unavailable:before,
.icons8-server:before,
.icons8-circled-play:before,
.icons8-sms:before,
.icons8-exclamation-mark:before,
.icons8-suitcase:before,
.icons8-sugar-cube:before,
.icons8-rewind:before,
.icons8-rewind-button-round:before,
.icons8-fast-forward-round:before,
.icons8-fast-forward:before,
.icons8-incoming-call:before,
.icons8-android:before,
.icons8-north-direction:before,
.icons8-view:before,
.icons8-natural-user-interface-2:before,
.icons8-email-send:before,
.icons8-expand:before,
.icons8-source-code:before,
.icons8-india:before,
.icons8-chrome:before,
.icons8-send-email:before,
.icons8-sms-2:before,
.icons8-kiss-panda:before,
.icons8-slack-new:before,
.icons8-microsoft-teams:before,
.icons8-microsoft-kaizala:before,
.icons8-send-mail:before,
.icons8-root-server:before,
.icons8-command:before,
.icons8-compost-heap:before,
.icons8-java-2:before,
.icons8-run-command:before,
.icons8-material-filled:before,
.icons8-fast-forward-2:before,
.icons8-rewind-2:before,
.icons8-share:before,
.icons8-speaker:before,
.icons8-mute:before,
.icons8-target:before,
.icons8-skip-to-start:before,
.icons8-end:before,
.icons8-signal:before,
.icons8-electrical:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "Cavisson";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.icons8-eye:before {content: "\f104";}
.icons8-clock:before {content: "\f105";}
.icons8-paint-palette:before {content: "\f106";}
.icons8-ok:before {content: "\f107";}
.icons8-settings:before {content: "\f108";}
.icons8-compress:before {content: "\f109";}
.icons8-enlarge:before {content: "\f10a";}
.icons8-menu-vertical:before {content: "\f10b";}
.icons8-circled-up-right:before {content: "\f10c";}
.icons8-circled-down-right:before {content: "\f10d";}
.icons8-user:before {content: "\f10e";}
.icons8-wall-mount-camera:before {content: "\f10f";}
.icons8-notification:before {content: "\f110";}
.icons8-filter:before {content: "\f111";}
.icons8-fill-color:before {content: "\f112";}
.icons8-business-report:before {content: "\f113";}
.icons8-expand-arrow:before {content: "\f114";}
.icons8-collapse-arrow:before {content: "\f115";}
.icons8-sync-settings:before {content: "\f116";}
.icons8-combo-chart:before {content: "\f117";}
.icons8-template:before {content: "\f118";}
.icons8-folder:before {content: "\f119";}
.icons8-touchscreen:before {content: "\f11a";}
.icons8-online-shop:before {content: "\f11b";}
.icons8-self-service-kiosk:before {content: "\f11c";}
.icons8-bookmark:before {content: "\f11d";}
.icons8-home:before {content: "\f11e";}
.icons8-search:before {content: "\f11f";}
.icons8-file:before {content: "\f120";}
.icons8-xml-file:before {content: "\f121";}
.icons8-pdf:before {content: "\f122";}
.icons8-doc:before {content: "\f123";}
.icons8-document:before {content: "\f124";}
.icons8-pdf-2:before {content: "\f125";}
.icons8-back:before {content: "\f126";}
.icons8-forward:before {content: "\f127";}
.icons8-play:before {content: "\f128";}
.icons8-delete:before {content: "\f129";}
.icons8-trash:before {content: "\f12a";}
.icons8-checkmark:before {content: "\f12b";}
.icons8-save:before {content: "\f12c";}
.icons8-download:before {content: "\f12d";}
.icons8-more:before {content: "\f12e";}
.icons8-flow-chart:before {content: "\f12f";}
.icons8-upload:before {content: "\f130";}
.icons8-checked:before {content: "\f132";}
.icons8-account:before {content: "\f133";}
.icons8-left:before {content: "\f134";}
.icons8-edit:before {content: "\f135";}
.icons8-plus-math:before {content: "\f136";}
.icons8-spreadsheet-file:before {content: "\f137";}
.icons8-calendar:before {content: "\f138";}
.icons8-up-down-arrow:before {content: "\f139";}
.icons8-browse-page:before {content: "\f13a";}
.icons8-loading:before {content: "\f13b";}
.icons8-train-ticket:before {content: "\f13c";}
.icons8-cloud-database:before {content: "\f13d";}
.icons8-pause:before {content: "\f13e";}
.icons8-master:before {content: "\f13f";}
.icons8-slave:before {content: "\f140";}
.icons8-view-all:before {content: "\f141";}
.icons8-star:before {content: "\f142";}
.icons8-star-filled:before {content: "\f143";}
.icons8-minus:before {content: "\f144";}
.icons8-reflector-bulb:before {content: "\f145";}
.icons8-reboot:before {content: "\f146";}
.icons8-open-view:before {content: "\f147";}
.icons8-tv-off:before {content: "\f148";}
.icons8-tv:before {content: "\f149";}
.icons8-decline:before {content: "\f14a";}
.icons8-decrease:before {content: "\f14b";}
.icons8-increase:before {content: "\f14c";}
.icons8-power-bi:before {content: "\f14d";}
.icons8-copyright:before {content: "\f14e";}
.icons8-add-new:before {content: "\f14f";}
.icons8-add:before {content: "\f150";}
.icons8-pulse:before {content: "\f151";}
.icons8-tick-box:before {content: "\f152";}
.icons8-columns:before {content: "\f153";}
.icons8-bar-chart:before {content: "\f154";}
.icons8-java:before {content: "\f155";}
.icons8-globe:before {content: "\f156";}
.icons8-menu:before {content: "\f157";}
.icons8-rectangular:before {content: "\f159";}
.icons8-circle:before {content: "\f15a";}
.icons8-filled-circle:before {content: "\f15b";}
.icons8-circled-thin:before {content: "\f15c";}
.icons8-microchip:before {content: "\f15d";}
.icons8-genealogy:before {content: "\f15f";}
.icons8-final-state:before {content: "\f161";}
.icons8-computer:before {content: "\f162";}
.icons8-node-js:before {content: "\f163";}
.icons8-php-logo:before {content: "\f164";}
.icons8-python:before {content: "\f165";}
.icons8-shuffle:before {content: "\f166";}
.icons8-indeterminate-checkbox:before {content: "\f167";}
.icons8-database:before {content: "\f168";}
.icons8-database-export:before {content: "\f169";}
.icons8-download-2:before {content: "\f16a";}
.icons8-upload-2:before {content: "\f16b";}
.icons8-bar-chart-2:before {content: "\f16d";}
.icons8-user-shield:before {content: "\f16e";}
.icons8-search-property:before {content: "\f170";}
.icons8-delete-trash:before {content: "\f171";}
.icons8-copy:before {content: "\f172";}
.icons8-synchronize:before {content: "\f173";}
.icons8-lock:before {content: "\f176";}
.icons8-help:before {content: "\f177";}
.icons8-check-all:before {content: "\f178";}
.icons8-compare:before {content: "\f179";}
.icons8-tune:before {content: "\f17a";}
.icons8-bar-chart-3:before {content: "\f17b";}
.icons8-futures:before {content: "\f17c";}
.icons8-user-shield-2:before {content: "\f17d";}
.icons8-line-chart:before {content: "\f17e";}
.icons8-area-chart:before {content: "\f17f";}
.icons8-time-machine:before {content: "\f180";}
.icons8-html-5:before {content: "\f182";}
.icons8-table:before {content: "\f183";}
.icons8-word:before {content: "\f184";}
.icons8-shopping-cart:before {content: "\f185";}
.icons8-opened-folder:before {content: "\f186";}
.icons8-memories:before {content: "\f187";}
.icons8-ssd:before {content: "\f188";}
.icons8-installing-updates:before {content: "\f189";}
.icons8-cursor:before {content: "\f18a";}
.icons8-maintenance:before {content: "\f18b";}
.icons8-archive-folder:before {content: "\f18c";}
.icons8-information:before {content: "\f18d";}
.icons8-shutdown:before {content: "\f18e";}
.icons8-new-resume-template:before {content: "\f18f";}
.icons8-save-as:before {content: "\f190";}
.icons8-minus-sign:before {content: "\f191";}
.icons8-up:before {content: "\f192";}
.icons8-down:before {content: "\f193";}
.icons8-right:before {content: "\f194";}
.icons8-error:before {content: "\f195";}
.icons8-sand-clock:before {content: "\f196";}
.icons8-alarm-clock:before {content: "\f197";}
.icons8-picture:before {content: "\f198";}
.icons8-important-file:before {content: "\f199";}
.icons8-order-history:before {content: "\f19a";}
.icons8-spinner:before {content: "\f19b";}
.icons8-resize:before {content: "\f19c";}
.icons8-edit-2:before {content: "\f19d";}
.icons8-zoom-in-2x:before {content: "\f1a0";}
.icons8-zoom-out-2x:before {content: "\f1a1";}
.icons8-zoom-in:before {content: "\f1a2";}
.icons8-zoom-out:before {content: "\f1a3";}
.icons8-mark-as-favorite:before {content: "\f1a4";}
.icons8-add-to-favorites:before {content: "\f1a5";}
.icons8-heart:before {content: "\f1a6";}
.icons8-info:before {content: "\f1a7";}
.icons8-circled-right:before {content: "\f1a9";}
.icons8-back-arrow:before {content: "\f1ab";}
.icons8-import:before {content: "\f1ac";}
.icons8-export:before {content: "\f1ae";}
.icons8-laptop-metrics:before {content: "\f1af";}
.icons8-statistics:before {content: "\f1b0";}
.icons8-dashboard:before {content: "\f1b1";}
.icons8-tree-structure:before {content: "\f1b2";}
.icons8-resume-website:before {content: "\f1b3";}
.icons8-project:before {content: "\f1b4";}
.icons8-nfc-square-tag:before {content: "\f1b6";}
.icons8-no-edit:before {content: "\f1b7";}
.icons8-reduce:before {content: "\f1b8";}
.icons8-top-menu:before {content: "\f1b9";}
.icons8-unavailable:before {content: "\f1ba";}
.icons8-server:before {content: "\f1bb";}
.icons8-circled-play:before {content: "\f1bc";}
.icons8-sms:before {content: "\f1bd";}
.icons8-exclamation-mark:before {content: "\f1be";}
.icons8-suitcase:before {content: "\f1bf";}
.icons8-sugar-cube:before {content: "\f1c0";}
.icons8-rewind:before {content: "\f1c1";}
.icons8-rewind-button-round:before {content: "\f1c2";}
.icons8-fast-forward-round:before {content: "\f1c4";}
.icons8-fast-forward:before {content: "\f1c5";}
.icons8-incoming-call:before {content: "\f1c6";}
.icons8-android:before {content: "\f1c7";}
.icons8-north-direction:before {content: "\f1c8";}
.icons8-view:before {content: "\f1c9";}
.icons8-natural-user-interface-2:before {content: "\f1ca";}
.icons8-email-send:before {content: "\f1cb";}
.icons8-expand:before {content: "\f1cc";}
.icons8-source-code:before {content: "\f1cd";}
.icons8-india:before {content: "\f1ce";}
.icons8-chrome:before {content: "\f1cf";}
.icons8-send-email:before {content: "\f1d0";}
.icons8-sms-2:before {content: "\f1d1";}
.icons8-kiss-panda:before {content: "\f1d2";}
.icons8-slack-new:before {content: "\f1d3";}
.icons8-microsoft-teams:before {content: "\f1d4";}
.icons8-microsoft-kaizala:before {content: "\f1d5";}
.icons8-send-mail:before {content: "\f1d6";}
.icons8-root-server:before {content: "\f1d7";}
.icons8-command:before {content: "\f1d8";}
.icons8-compost-heap:before {content: "\f1d9";}
.icons8-java-2:before {content: "\f1da";}
.icons8-run-command:before {content: "\f1db";}
.icons8-material-filled:before {content: "\f1dc";}
.icons8-fast-forward-2:before {content: "\f1dd";}
.icons8-rewind-2:before {content: "\f1de";}
.icons8-share:before {content: "\f1df";}
.icons8-speaker:before {content: "\f1e0";}
.icons8-mute:before {content: "\f1e1";}
.icons8-target:before {content: "\f1e2";}
.icons8-skip-to-start:before {content: "\f1e3";}
.icons8-end:before {content: "\f1e4";}
.icons8-signal:before {content: "\f1e5";}
.icons8-electrical:before {content: "\f1e6";}
