.p-2{
    padding-top: 0px;
    padding-bottom: 2px;
        margin: 0;
}
.mr-22{
        border-radius: 19px;
        padding: .25rem .55rem;
    font-size: 14px;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

    .dialog-content {
        padding: 1em 1em 1em 1em !important;
    }

     .compare-data-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        }
    
:host>>>.ui-dialog .ui-dialog-titlebar {
        background-color: #f7f7ff;
    color: var(--color_4);
    padding: 1em;
    font-weight: 600;
    border: 1px solid #c8c8c8;
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

:host>>>.ui-dialog .ui-dialog-footer {padding: .571em 1em;
    border-top: 0;
    background-color: white;
    border: 1px solid #c8c8c8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.text-center{
text-align: center !important;
}

:host>>> .ui-table .ui-table-tbody > tr{
    background: rgb(195 215 231 / 19%);
    font-size:11px;
}
:host>>>.ui-table-tbody > tr:nth-child(even){
    background: rgb(195 215 231 / 19%) !important; 
       font-size:11px;
}
